@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
// Font Variables
$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;

// Styles
body {
  font-family: $roboto-slab;
  font-weight: normal;
}

.index {
    display:flex;
    .mission {
        font-size: 1.125rem;
    }
    .data {
        font-size: 1rem;
    }
}